<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="print" onload="this.media='all'" rel="manifest" href="https://bingmatch.github.io/deveshcharda/manifest.webmanifest">
    <title>Devesh Misra</title>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12" media="none" data-async="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" media="none" data-async="true"></script>
    <link media="print" onload="this.media='all'" rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
</head>
<style>
    #app {
        padding: 10px;
    }
    button {
        margin: 20px;
    }
    img{
        width: 50%;
        border-radius: 15px;
    }
</style>
<body>
    <div id="app">
        <div v-if="!isHidden" class="list-group">
            <button class="button-primary-outlined button-round" @click='vidd(value)' v-for="(value, key) in results">{{ key }}</button>
        </div>
        <button class="button-primary button-round" @click='backk()' v-if="isHidden">back</button>
        <div style="position: relative;" v-if="isHidden" class="video-group">
            <a target="_blank" style="width: 50%; float: left;padding: 20px;" rel="noreferrer" :href="value['video_url']" class="vid-card .col-lg-6" v-for="(value, key) in viddm['Payload']">
                <p class="title">{{value['video_title']}}</p>
                <img :src="value['video_image_url']">
            </a>
        </div>
    </div>
</body>
<script>
    window.addEventListener('load', e => {
  new PWAConfApp();
  registerSW(); 
});

async function registerSW() { 
  if ('serviceWorker' in navigator) { 
    try {
      await navigator.serviceWorker.register('./sw.js'); 
    } catch (e) {
      alert('ServiceWorker registration failed. Sorry about that.'); 
    }
  } else {
    document.querySelector('.alert').removeAttribute('hidden'); 
  }
}
    const url = "https://bingmatch.github.io/deveshcharda/json/";

const vm = new Vue({
        el: '#app',
        data: {
          results: [],
          viddm: [],
          isHidden: false,
        }, 
        methods: {
            vidd(jim) {
                this.isHidden = true;
            axios.get(url+jim+".json").then(response => {
            this.viddm = response.data
          })
        },
        backk(){
            this.isHidden = false;
        }
    },
        mounted() {
          axios.get(url+"master.json").then(response => {
            this.results = response.data
          })
        }
      });
</script>
</html>
